In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv(r"C:\Users\Venks\Desktop\Project\MLOPS_Bootcamp\Financial_Risk_Assessment\data\raw\emi_prediction_dataset.csv")

In [3]:
data.head()

,age,gender,marital_status,education,monthly_salary,employment_type,years_of_employment,company_type,house_type,monthly_rent,...,existing_loans,current_emi_amount,credit_score,bank_balance,emergency_fund,emi_scenario,requested_amount,requested_tenure,emi_eligibility,max_monthly_emi
0,38.0,Female,Married,Professional,82600.0,Private,0.9,Mid-size,Rented,20000.0,...,Yes,23700.0,660.0,303200.0,70200.0,Personal Loan EMI,850000.0,15,Not_Eligible,500.0
1,38.0,Female,Married,Graduate,21500.0,Private,7.0,MNC,Family,0.0,...,Yes,4100.0,714.0,92500.0,26900.0,E-commerce Shopping EMI,128000.0,19,Not_Eligible,700.0
2,38.0,Male,Married,Professional,86100.0,Private,5.8,Startup,Own,0.0,...,No,0.0,650.0,672100.0,324200.0,Education EMI,306000.0,16,Eligible,27775.0
3,58.0,Female,Married,High School,66800.0,Private,2.2,Mid-size,Own,0.0,...,No,0.0,685.0,440900.0,178100.0,Vehicle EMI,304000.0,83,Eligible,16170.0
4,48.0,Female,Married,Professional,57300.0,Private,3.4,Mid-size,Family,0.0,...,No,0.0,770.0,97300.0,28200.0,Home Appliances EMI,252000.0,7,Not_Eligible,500.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404800 entries, 0 to 404799
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   age                     404800 non-null  object
 1   gender                  404800 non-null  object
 2   marital_status          404800 non-null  object
 3   education               402396 non-null  object
 4   monthly_salary          404800 non-null  object
 5   employment_type         404800 non-null  object
 6   years_of_employment     404800 non-null  float64
 7   company_type            404800 non-null  object
 8   house_type              404800 non-null  object
 9   monthly_rent            402374 non-null  float64
 10  family_size             404800 non-null  int64
 11  dependents              404800 non-null  int64
 12  school_fees             404800 non-null  float64
 13  college_fees            404800 non-null  float64
 14  travel_expenses         404800 non-null  float64
 15  groceries_utilities     404800 non-null  float64
 16  other_monthly_expenses  404800 non-null  float64
 17  existing_loans          404800 non-null  object
 18  current_emi_amount      404800 non-null  float64
 19  credit_score            402380 non-null  float64
 20  bank_balance            402374 non-null  object
 21  emergency_fund          402449 non-null  float64
 22  emi_scenario            404800 non-null  object
 23  requested_amount        404800 non-null  float64
 24  requested_tenure        404800 non-null  int64
 25  emi_eligibility         404800 non-null  object
 26  max_monthly_emi         404800 non-null  float64
dtypes: float64(12), int64(3), object(12)
memory usage: 83.4+ MB

In [5]:
data.columns

Index(['age', 'gender', 'marital_status', 'education', 'monthly_salary',
       'employment_type', 'years_of_employment', 'company_type', 'house_type',
       'monthly_rent', 'family_size', 'dependents', 'school_fees',
       'college_fees', 'travel_expenses', 'groceries_utilities',
       'other_monthly_expenses', 'existing_loans', 'current_emi_amount',
       'credit_score', 'bank_balance', 'emergency_fund', 'emi_scenario',
       'requested_amount', 'requested_tenure', 'emi_eligibility',
       'max_monthly_emi'],
      dtype='object')

In [6]:
# Investigate all the elements whithin each Feature

for column in data:
    unique_vals = np.unique(data[column].astype(str))
    nr_values = len(unique_vals)
    if nr_values <= 45:
        print('The number of values for feature {} :{} -- {}'.format(column, nr_values,unique_vals))
    else:
        print('The number of values for feature {} :{}'.format(column, nr_values))

The number of values for feature age :33 -- ['26' '26.0' '27' '27.0' '28' '28.0' '31' '31.0' '32' '32.0' '32.0.0' '33'
 '33.0' '37' '37.0' '38' '38.0' '38.0.0' '39' '39.0' '47' '47.0' '48'
 '48.0' '49' '49.0' '57' '57.0' '58' '58.0' '58.0.0' '59' '59.0']
The number of values for feature gender :8 -- ['F' 'FEMALE' 'Female' 'M' 'MALE' 'Male' 'female' 'male']
The number of values for feature marital_status :2 -- ['Married' 'Single']
The number of values for feature education :5 -- ['Graduate' 'High School' 'Post Graduate' 'Professional' 'nan']
The number of values for feature monthly_salary :13662
The number of values for feature employment_type :3 -- ['Government' 'Private' 'Self-employed']
The number of values for feature years_of_employment :356
The number of values for feature company_type :5 -- ['Large Indian' 'MNC' 'Mid-size' 'Small' 'Startup']
The number of values for feature house_type :3 -- ['Family' 'Own' 'Rented']
The number of values for feature monthly_rent :4397
The number of values for feature family_size :5 -- ['1' '2' '3' '4' '5']
The number of values for feature dependents :5 -- ['0' '1' '2' '3' '4']
The number of values for feature school_fees :132
The number of values for feature college_fees :202
The number of values for feature travel_expenses :284
The number of values for feature groceries_utilities :544
The number of values for feature other_monthly_expenses :373
The number of values for feature existing_loans :2 -- ['No' 'Yes']
The number of values for feature current_emi_amount :508
The number of values for feature credit_score :428
The number of values for feature bank_balance :12262
The number of values for feature emergency_fund :5487
The number of values for feature emi_scenario :5 -- ['E-commerce Shopping EMI' 'Education EMI' 'Home Appliances EMI'
 'Personal Loan EMI' 'Vehicle EMI']
The number of values for feature requested_amount :1491
The number of values for feature requested_tenure :82
The number of values for feature emi_eligibility :3 -- ['Eligible' 'High_Risk' 'Not_Eligible']
The number of values for feature max_monthly_emi :15383

In [7]:
# Convert age, monthly_salary, and bank_balance to numerics
for col in ['age', 'monthly_salary', 'bank_balance']:
    data[col] = pd.to_numeric(data[col], errors='coerce')
print("✓ Data type conversion completed")

✓ Data type conversion completed

In [8]:
data.isna().sum()

age                          3
gender                       0
marital_status               0
education                 2404
monthly_salary            1993
employment_type              0
years_of_employment          0
company_type                 0
house_type                   0
monthly_rent              2426
family_size                  0
dependents                   0
school_fees                  0
college_fees                 0
travel_expenses              0
groceries_utilities          0
other_monthly_expenses       0
existing_loans               0
current_emi_amount           0
credit_score              2420
bank_balance              4392
emergency_fund            2351
emi_scenario                 0
requested_amount             0
requested_tenure             0
emi_eligibility              0
max_monthly_emi              0
dtype: int64

In [9]:
data.isnull().sum()

age                          3
gender                       0
marital_status               0
education                 2404
monthly_salary            1993
employment_type              0
years_of_employment          0
company_type                 0
house_type                   0
monthly_rent              2426
family_size                  0
dependents                   0
school_fees                  0
college_fees                 0
travel_expenses              0
groceries_utilities          0
other_monthly_expenses       0
existing_loans               0
current_emi_amount           0
credit_score              2420
bank_balance              4392
emergency_fund            2351
emi_scenario                 0
requested_amount             0
requested_tenure             0
emi_eligibility              0
max_monthly_emi              0
dtype: int64

In [10]:
len(data)

404800

In [11]:
# Check missing values
missing_data = data.isnull().sum()
missing_percent = (missing_data / len(data)) * 100
missing_df = pd.DataFrame({'Missing_Count': missing_data, 'Percentage': missing_percent})
print(missing_df[missing_df['Missing_Count'] > 0])

                Missing_Count  Percentage
age                         3    0.000741
education                2404    0.593874
monthly_salary           1993    0.492342
monthly_rent             2426    0.599308
credit_score             2420    0.597826
bank_balance             4392    1.084980
emergency_fund           2351    0.580781

In [12]:
data.duplicated().sum()

np.int64(0)

In [13]:
data.shape

(404800, 27)

In [14]:
data.dtypes

age                       float64
gender                     object
marital_status             object
education                  object
monthly_salary            float64
employment_type            object
years_of_employment       float64
company_type               object
house_type                 object
monthly_rent              float64
family_size                 int64
dependents                  int64
school_fees               float64
college_fees              float64
travel_expenses           float64
groceries_utilities       float64
other_monthly_expenses    float64
existing_loans             object
current_emi_amount        float64
credit_score              float64
bank_balance              float64
emergency_fund            float64
emi_scenario               object
requested_amount          float64
requested_tenure            int64
emi_eligibility            object
max_monthly_emi           float64
dtype: object

#Standardadizing the columns

In [15]:
# Gender standardization
gender_map = {'F': 'Female', 'FEMALE': 'Female', 'Female': 'Female', 
              'M': 'Male', 'MALE': 'Male', 'Male': 'Male', 
              'female': 'Female', 'male': 'Male'}
data['gender'] = data['gender'].map(gender_map)

# Education standardization
edu_map = {'Professional': 'Professional', 'Post Graduate': 'Post Graduate',
           'Graduate': 'Graduate', 'High School': 'High School'}
data['education'] = data['education'].map(edu_map).fillna(data['education'].mode()[0])

# Employment Type, Company Type, House Type – Title Case
for col in ['employment_type', 'company_type', 'house_type', 'marital_status', 'emi_scenario']:
    data[col] = data[col].str.title()

In [16]:
num_cols_with_na = ['age','monthly_salary','monthly_rent', 'credit_score', 'bank_balance', 'emergency_fund']
cat_cols_with_na = ['education']

# Impute numerics with median
for col in num_cols_with_na:
    median_val = data[col].median()
    data[col].fillna(median_val, inplace=True)

# Impute education with mode
mode_val = data['education'].mode()[0]
data['education'].fillna(mode_val, inplace=True)

# Confirm no remaining missing values
print(data.isnull().sum().sort_values(ascending=False).head())

age               0
gender            0
marital_status    0
education         0
monthly_salary    0
dtype: int64

In [17]:
# Final verification
print(data.info())
for col in data.select_dtypes(include='object').columns:
    print(f"{col}: {data[col].unique()}")
print("✓ Data standardization and cleanup complete")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404800 entries, 0 to 404799
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   age                     404800 non-null  float64
 1   gender                  404800 non-null  object
 2   marital_status          404800 non-null  object
 3   education               404800 non-null  object
 4   monthly_salary          404800 non-null  float64
 5   employment_type         404800 non-null  object
 6   years_of_employment     404800 non-null  float64
 7   company_type            404800 non-null  object
 8   house_type              404800 non-null  object
 9   monthly_rent            404800 non-null  float64
 10  family_size             404800 non-null  int64
 11  dependents              404800 non-null  int64
 12  school_fees             404800 non-null  float64
 13  college_fees            404800 non-null  float64
 14  travel_expenses         404800 non-null  float64
 15  groceries_utilities     404800 non-null  float64
 16  other_monthly_expenses  404800 non-null  float64
 17  existing_loans          404800 non-null  object
 18  current_emi_amount      404800 non-null  float64
 19  credit_score            404800 non-null  float64
 20  bank_balance            404800 non-null  float64
 21  emergency_fund          404800 non-null  float64
 22  emi_scenario            404800 non-null  object
 23  requested_amount        404800 non-null  float64
 24  requested_tenure        404800 non-null  int64
 25  emi_eligibility         404800 non-null  object
 26  max_monthly_emi         404800 non-null  float64
dtypes: float64(15), int64(3), object(9)
memory usage: 83.4+ MB
None
gender: ['Female' 'Male']
marital_status: ['Married' 'Single']
education: ['Professional' 'Graduate' 'High School' 'Post Graduate']
employment_type: ['Private' 'Government' 'Self-Employed']
company_type: ['Mid-Size' 'Mnc' 'Startup' 'Large Indian' 'Small']
house_type: ['Rented' 'Family' 'Own']
existing_loans: ['Yes' 'No']
emi_scenario: ['Personal Loan Emi' 'E-Commerce Shopping Emi' 'Education Emi'
 'Vehicle Emi' 'Home Appliances Emi']
emi_eligibility: ['Not_Eligible' 'Eligible' 'High_Risk']
✓ Data standardization and cleanup complete

In [18]:
data.to_csv('data_cleaned.csv', index=False)
print("✓ Final cleaned data saved for EDA")

✓ Final cleaned data saved for EDA

- All columns verified for non-null counts matching row count (404,800), confirming missing values have been handled.​

- Categorical features (gender, marital_status, education, etc.) standardized with unique values documented and correctly imputed.​

- Numeric columns (age, monthly_salary, bank_balance, etc.) properly converted and imputed; data types are correct, with no object types where numerics are expected.​

- No duplicate rows remain; duplicate count is zero.​

- Data exported to data_cleaned.csv for downstream analysis.

- All outputs and final info checks validate data readiness for exploratory analysis.